p {
  font-family: Lato;
}
.border{
  border: 1px solid #6a6a6a;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  margin-bottom: 10px;
}
.spaced{
  margin-bottom: 35px;
}